@font-face{
  font-family: 'playfair-display';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/playfair-display/PlayfairDisplay-Regular.otf)
}

body {
  color: #393939;
  font-family: "Lucida grande";
  background-color: white;
}

h1 {
  text-align: center;
  color: black;
  margin: 10px;
  font-family: Lucida grande;
  font-size:35px;
}

hr {
  background-color: white;
  height: 2px;
  border:0;
  margin: 50px;
}

#myname {
  font-size: 40px;
  color: black;
  margin-top: 35px;
}

.row{
  display:flex;
  flex-direction: row;
  text-align: center;
}

.top{
  margin-bottom: 12px;
}

.box{
  flex-grow:1;
}

.box2{
  margin-left:100px;
}

.box3{
  margin-top:80px;
}

.box4{
  margin-right: 90px;
}

.logo{
    padding-top: 25px;
    padding-left: 100px;
    font-size: 30px;
}

#infosci{
    color:#989898;
    font-size:15px;
}

nav ul {
  margin-right: 70px;
  margin-top: 50px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

nav ul li{
  font-size: 17px;
}

nav ul li a {
  margin: 40px;
  display: block;
  text-decoration: none;
  color:black;
  display: block;
  border-bottom: 2px solid;
  border-bottom-color: white;
  padding: .5em 1em;
  margin: 0.5em;
}


a:link {
  text-decoration:none;
  color: black;
}

nav a:hover{
  color: black;
  border-bottom-color:black;
  border-bottom: 2px solid;
}

a.active{
  color:black;
  border-bottom-color:black;
  border-bottom: 2px solid;
}


p.email {
  text-align: center;
  padding-top: 25px;
}

.intro {
  margin-left: 120px;
  margin-right: 120px;
  font-family:Lucida grande;
  font-size: 17px;
}

h2 {
  color:black;
  font-family:Lucida grande;
  text-align: center;
}

img.profile{
  width: auto;
  height: auto;
  max-width: 350px;
  max-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row1{
  display: flex;
  flex-direction: row;
}

.para{
  padding: 40px;
  padding-right: 70px;
  font-family:Lucida grande;
  color:#6c6c6c;
  font-size:15px;
}

mark{
  background-color:#fffb96;
}

.row2{
  display: flex;
  flex-direction: row;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 30px;
  margin-top: 40px;
  background-color: #f5f9ff;
  font-family:Lucida grande;
  padding:50px;
}

.row3{
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 30px;
  margin-top: 40px;
  background-color: #f5f9ff;
  font-family:Lucida grande;
  padding:50px;
}

img.squares{
  width: auto;
  height: auto;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 200px;
  padding-top:20px;
}

img.nycsef{
  width: auto;
  height: auto;
  max-width: 550px;
  max-height: 550px;
}

img.debut{
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 400px;
}

img.weill{
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 400px;
}

img.CUSD{
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

img.neuroscience{
  width: auto;
  height: auto;
  max-width: 500px;
  max-height: 500px;
}

img.ccny{
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 400px;
}

.footer{
  position: absolute;
  width:100%;
  background-color: white;
  right:0;
}

.footer p{
  color: #838383;
}

.icon{
  max-width:25px;
  height:auto;
}

/*classes for hiding text and showing error messages*/
.hidden {
  display: none !important;
}

/*slideshow*/
.art{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 70px;
  margin-bottom: 70px;
}

#slideshowImage {
  width: 300px;

}

.nextButton {
  width: 60px;
  border: 1px black solid;
  text-align: center;
  margin-right: 50%;
}

/*design*/
.news{
  height:240px;
  /*max-width:auto;*/
}

.news1{
  height:270px;
}

.news2{
  height:350px;
}

.images{
  text-align:center;
}

.contact{
    text-align: center;
}

/*index panel*/
.index_panel_element:hover {
  filter: brightness(50%);;
  opacity:2;
  transition: .5s ease;
}

.index_panel_element p {
  display: table-cell;
  vertical-align: middle;
}

#index_panel{
    margin: auto;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.index_panel_element {
  margin: 15px;
  color: #cce5ff;
  width: 450px;
  height: 250px;
  font-size: 34px;
  text-align: center;
  display: table;
  font-weight: 200;
  font-style: italic;
  text-transform: uppercase;
  text-shadow: 3px 3px #000000;
}

.ux{
  background: url(../images/uxprojects/cover.jpg) no-repeat center center;
  background-size: cover;
}

.artcover{
    background: url(../images/path02.jpg) no-repeat center center;
    background-size: cover;
}

.design{
    background: url(../images/design/flushing1.jpg) no-repeat center center;
    background-size: cover;
}

.projects{
    background: url(../images/ccny.jpg) no-repeat center center;
    background-size: cover;
}
